p{
    color:rgb(134, 122, 98);
}
a{
    color:rgb(47, 5, 146);
    background-color: purple;
}
#párrafo2{
    color: green;
}

.parrafogris{
    color:grey;
}

.parrafoverde{
    color:green
}

.textoGrandeNegrita{
    font-size: x-large; /*tamaño de la fuente*/
    font-weight: 300; /*grueso de la fuente*/
    font-style: italic; /*estilo*/
    font-stretch: normal; /*separaci+ón de las letras*/
    font-family: 'Times New Roman', Times, serif; /*Fuente*/
}