h1{
    background-color: #6cb42c;
    padding: 0px;
    margin: 0px;
}

body{
    margin: 0px;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.logo{
    height: 130px;
}

.Button{
    background-color: #6cb42c;
    border: 0px;
    padding: 5px 80px;
    font-weight: bolder;
    font-family: sans-serif;
    font-size: medium;
    border-radius: 10px;
    box-shadow: 1px 1px black; 
}

.Button:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.mainButton{
    background-color: #6cb42c;
    color: honeydew;
}

.secondaryButton{
    background-color: rgb(74, 130, 0);
    color: white;
}